[loggers]
keys=root,pygrep

[handlers]
keys=file,console

[formatters]
keys=simple,complete


[logger_root]
level=DEBUG
handlers=console

[logger_pygrep]
level=DEBUG
handlers=file
qualname=Pygrep



[handler_file]
class=FileHandler
level=DEBUG
formatter=complete
args=( os.path.expanduser(os.path.join('~','pygrep.dump')),)

[handler_console]
class=StreamHandler
level=ERROR
#level=WARNING
#level=DEBUG
#formatter=simple
formatter=complete
args=(sys.stdout,)



[formatter_simple]
format=%(levelname)s - %(message)s
datefmt=

[formatter_complete]
format=%(asctime)s - %(name)s - %(levelname)s - %(filename)s:%(lineno)d [%(thread)d] %(message)s
datefmt=
